
CREATE PROCEDURE [dbo].[SubCategory_crud]
	@Action VARCHAR(15),
    @SubcategoryID INT = NULL,
    @SubcategoryNAME VARCHAR(100) = NULL,
    @categoryID INT = NULL,
    @ISACTIVE BIT = 0

AS
BEGIN
    SET NOCOUNT ON;

    -- GET ALL SUBCATEGORY
    IF (@Action = 'GETALL')
    BEGIN
        SELECT s.subcategoryID,s.subcategoryNAME,s.categoryId,c.categoryNAME,s.ISACTIVE,s.CREATEDDATE
        FROM subcategory s
        INNER JOIN category c ON s.categoryId=c.categoryID
    END
	--GET SUBCATEGORY BY ID
	 IF (@Action = 'GETBYID')
    BEGIN
        SELECT s.subcategoryID,s.subcategoryNAME,s.categoryId,c.categoryNAME,s.ISACTIVE,s.CREATEDDATE
        FROM subcategory s
        INNER JOIN category c ON s.categoryId=c.categoryID
		WHERE s.subcategoryID=@SubcategoryID;
    END
    -- INSERT SUBCATEGORY
    IF (@Action = 'INSERT')
    BEGIN
        INSERT INTO subcategory (subcategoryNAME, categoryId, ISACTIVE, CREATEDDATE)
        VALUES (@SubcategoryNAME, @categoryID, @ISACTIVE, GETDATE());
    END

    -- UPDATE SUBCATEGORY
    IF (@Action = 'UPDATE')
    BEGIN
        BEGIN
            UPDATE subcategory
            SET subcategoryNAME = @SubcategoryNAME, categoryId = @categoryID,ISACTIVE = @ISACTIVE
            WHERE subcategoryID = @SubcategoryID;
        END
    END

    -- DELETE SUBCATEGORY
    IF (@Action = 'DELETE')
    BEGIN
        DELETE FROM subcategory
        WHERE subcategoryID = @SubcategoryID;
    END

    -- ACTIVE SUBCATEGORY BY SUBCAYEGORYID
    IF (@Action = 'ACTIVEBYID')
    BEGIN
        SELECT DISTINCT * FROM subcategory s
        WHERE S.ISACTIVE = 1 ORDER BY s.subcategoryNAME;
    END

    -- ACTIVE SUBCATEGORY BY CATEGORYID
    IF (@Action = 'SUBCATEGORYBYID')
    BEGIN
        SELECT * FROM subcategory s
        WHERE S.categoryId=@categoryID
    END
END
