USE [ECOMMERCEYT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[category_crud]
	@Action VARCHAR(15),
    @categoryID INT = NULL,
    @categoryNAME VARCHAR(100) = NULL,
    @categoryIMAGEURL VARCHAR(MAX) = NULL,
    @ISACTIVE BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    -- GET ALL
    IF (@Action = 'GETALL')
    BEGIN
        SELECT * FROM category;
    END
	--GET CATEGORY BY ID
	 IF (@Action = 'GETBYID')
    BEGIN
        SELECT * FROM category
		WHERE categoryID=@categoryID;
    END
    -- INSERT
    IF (@Action = 'INSERT')
    BEGIN
        INSERT INTO category (categoryNAME, categoryIMAGEURL, ISACTIVE, CREATEDDATE)
        VALUES (@categoryNAME, @categoryIMAGEURL, @ISACTIVE, GETDATE());
    END

    -- UPDATE
    IF (@Action = 'UPDATE')
    BEGIN
        IF (@categoryIMAGEURL IS NULL)
        BEGIN
            UPDATE category
            SET categoryNAME = @categoryNAME,
                ISACTIVE = @ISACTIVE
            WHERE categoryID = @categoryID;
        END
        ELSE
        BEGIN
            UPDATE category
            SET categoryNAME = @categoryNAME,
                ISACTIVE = @ISACTIVE,
                categoryIMAGEURL = @categoryIMAGEURL
            WHERE categoryID = @categoryID;
        END
    END

    -- DELETE
    IF (@Action = 'DELETE')
    BEGIN
        DELETE FROM category
        WHERE categoryID = @categoryID;
    END

    -- ACTIVE categories
    IF (@Action = 'ACTIVECATEGORY')
    BEGIN
        SELECT *
        FROM category
        WHERE ISACTIVE = 1
        ORDER BY categoryNAME;
    END
END
GO